<% content_for :head do %>
  <title>Ranking - monolist</title>
  <meta name="description" content="Haveされた商品のランキングはこちら">
<% end %>

<div class="container">
    <div class="text-center">
        <h2>Have Ranking</h2>
    </div>
</div>
<% @items.each_with_index do |item,index| %>
    <div class="text-center">
        <h3>第<%= index + 1 %>位</h3>
    </div>
    <div class="container">
        <div class="clearfix">
            <div class="item-rank-main">
                <div class="image">
                    <div class="img-wrap">
                        <%= image_tag(item.large_image , alt: item.title) %>
                    </div>
                </div>
                <div class="title">
                    <%= item.title  %>
                </div>
                <%= render 'items/action' , item: item %>
            </div>
        </div>
    </div>
<% end %>
